<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.gconnect">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GConnect">
        <activity
            android:name=".ToSeeConnectedUsersProfile"
            android:exported="true" />
        <activity
            android:name=".OrgEditProfileActivity"
            android:exported="true" />
        <activity
            android:name=".AddJobsActivity"
            android:exported="true" />
        <activity
            android:name=".OrganizationMainPageActivity"
            android:exported="true"
            android:label="@string/title_activity_organization_main_page"
            android:theme="@style/Theme.GConnect.NoActionBar" />
        <activity
            android:name=".ui.Connections.ChatLogActivity"
            android:exported="true" />
        <activity
            android:name=".ui.posts.AddPostActivity"
            android:exported="true" />
        <activity
            android:name=".UserEditProfileActivity"
            android:exported="true" />
        <activity
            android:name=".UserMainPageActivity"
            android:exported="true"
            android:label="@string/title_activity_user_main_page"
            android:theme="@style/Theme.GConnect.NoActionBar" />
        <activity
            android:name=".CompanyEditProfileActivity"
            android:exported="true" />
        <activity
            android:name=".RegistrationActivity"
            android:exported="true" />
        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:label="@string/title_activity_login" />
        <activity
            android:name=".SplashScreenActivity"
            android:exported="true"
            android:theme="@style/SplashScreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
    </application>

</manifest>